html{
    height: 100%;
    width: 100%;
}
body{
   background-color: #000000; 
   background-image: url(images/back.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
nav{
    /* background-color: rgba(240, 248, 255, 0.623);  */
    text-align: center;
    height: 45px;
    width : 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top:18px;
    padding-left: 15px;
}
nav a{
    background-color: #000000a9;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
}
header{
    /* background-color: #141414cb; */
    height: 200px;
    width : 100%;                          
    margin-left: auto;
    margin-right:auto;                            
                        }
.About-container {
    position: relative;
    width: 80%;
    aspect-ratio: 3/1;
    margin: auto;
    border: solid black 2px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  

.PerInfo{
    background-color: rgba(255, 255, 255, 0.8290);
    width: 95%;
    height: 806px;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(0,0,0,2);
    
    
  }
.InfoContain{
    display:grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(0,0,0,2);
    


}
.Skill {
    background-color: rgba(235, 235, 235, 0.479);
    width: 100%;
    height: 500px;
  }
  .Photos {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 500px;
  }
.Achievements{
    background-color: rgb(12, 255, 4);
    width: 100%;
    height: 500px;
}
.Hobby{
    background-color: rgba(255, 0, 0, 0.479);
    width: 100%;
    height: 500px;
}

.image-section{
    background-color: rgb(34, 20, 20);;
    margin-left: 60px;
    height: 257px;
    width: 257px;
    border-radius: 257px;
}

.InfoContain .LeftSection{
    position: flex;
    background-color: rgba(255, 0, 0, 0.479);
    padding: 40px
}

.InfoContain .RightSection{
    position: flex;
    background-color: rgba(24, 23, 23, 0.479);
    padding: 40px;
    width: 100%;
}
