html{
    height: 100%;
        }
body{
    background-color: #000000; 
    background-image: url(images/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        }
.contact-border{
            text-align: center;
        }      
header{ 
            background-color: #141414cb;
            height: 150px;
            width : 100%;                          
            margin-left: auto;
            margin-right:auto;                            
}
.container_contact{
    margin-left: auto;
    margin-right: auto;
}
nav{
    /* background-color: rgba(240, 248, 255, 0.623);  */
    text-align: center;
    height: 45px;
    width : 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top:18px;
        }
nav a{
    background-color: #000000a9;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-blog{
width: auto;
}

.container .row{
    width: 90%;
    margin: auto;

}

.container .row .Blog-header{
    width:60%;
    text-align: center;

}

h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


