html{
    height: 100%;
        }
body{
    background-color: #000000; 
    background-image: url(images/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        }
.contact-border{
            text-align: center;
        }      
header{ 
            /* background-color: #141414cb; */
            height: 256px;
            width : 100%;                          
            margin-left: auto;
            margin-right:auto;                            
}
.container_contact{
    margin-left: auto;
    margin-right: auto;
}
nav{
    /* background-color: rgba(240, 248, 255, 0.623);  */
    text-align: center;
    height: 45px;
    width : 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top:18px;
        }
nav a{
    background-color: #000000a9;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 110px;
    padding-right: 110px;
    text-decoration: none;
}
.container-contact{
    background-color: rgba(255, 255, 255, 0.8290);
    width: 1536px;
    height: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    border: 2px solid rgb(0, 0, 0);

}


.copyright-layout{
    background-color: #ffffff;
    height: 25px;
    width:  500px;
    text-align: center;
    margin-top: 320px;
    margin-right: auto;
    margin-left: auto;
}

.contact-image{
    margin-top: 100px;
    margin-right: start;
    margin-left: start;
    text-align: center;
}

.contact-profile{
    border-radius: 256px;
    border: 2px solid rgba(255, 255, 255, 0.8290);

}
.reachout{
    text-align: start;
    margin-left: 15%;
    font-size: 30px;
}

.ContactMe {
    display: flex;
    align-items: flex;
    margin-right: 100px;
  }
  
  .contact-form {
    margin-bottom: 30px;
    width: 500px;
    /* max-width: 400px; */
    padding: 20px;
    background-color: #ffffffc4;
    border: 1px solid #000000;
    border-radius: 100px;
  }
  
  .contact-info {
    color: #000000;
    margin-right: 50%;
    width: 110px;
    height: 500px;
    flex-grow: 1;
    text-align: start;
    
  }
  
  .contact-info a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
