html{
                height: 100%;
                    }
body{
                background-color: #000000; 
                background-image: url(images/back.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                    }