html{
         height: 100%;
                    }
body{
        background-color: #000000; 
        background-image: url(images/back.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
                    }
h1{
        color: #ffffff;
        font-size: 64px;
        text-align: center;
                            }
        
.intro{
                                                    
        color: rgba(240, 248, 255, 0.801);                               
        font-size: 18px;                                    
        text-align: center;
                        }
        
header{
        /* background-color: #141414cb; */
        height: 256px;
        width : 100%;                          
        margin-left: auto;
        margin-right:auto;                            
                            }
        
 nav{
        /* background-color: rgba(240, 248, 255, 0.623);  */
        text-align: center;
        height: 45px;
        width : 1500px;
        margin-left: auto;
        margin-right: auto;
        margin-top:18px;
                            }